@import "tailwindcss";
@theme {
  --color-background-light: #ffffff;
  --color-foreground-light: #111111;

  --color-background-dark: #121212;
  --color-foreground-dark: #ffffff;
}

:root {
  --bg: var(--color-background-light);
  --text: var(--color-foreground-light);
}

.dark {
  --bg: var(--color-background-dark);
  --text: var(--color-foreground-dark);

  color-scheme: dark;
}

html,
body {
  background-color: var(--bg) !important;
  color: var(--text) !important;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.dark bg-white {
  background-color: var(--color-background-dark) !important;
}
